.statistics-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-height: 90vh;
    overflow-y: scroll;
    align-items: center;
    div {
        width: 85vw;
        display: flex;
        justify-content: space-evenly;
    }
    .funfact-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        background-color: whitesmoke;
        .funfact-value {
            margin: 0;
            margin-bottom: 0.5em;
            font-size: 3em;
            color: #ff6600;
            font-weight: 700;
        }
    }
    table,
    th,
    td {
        border: solid 1px black;
    }
    table {
        margin-top: 3vh;
        border-collapse: collapse;
        width: 85vw;
        max-height: 10vh;
    }
    th {
        background-color: rgb(197, 197, 197);
    }
    tr {
        height: 5vh;
    }
    td {
        padding-left: 0.7em;
    }
}