body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Lato', sans-serif;
}
header {
  background-color: #0066b5e6;
  height: 8vh;
  display: flex;
  align-items: center;
  svg{
    margin-left: 3vw;  
  }
}

.input_form {
  form {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 100vw;
    height: 6vh;
    margin-top: 0.3em;
  }
  #input_field {
    display: block;
    width: 78vw;
    border-radius: 2em;
    padding: 0.5em;
    font-size: 1em;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
  #input-button {
    background-color: #5e9f1a;
    color: white;
    margin-left: 2vw;
    height: 70%;
    border: none;
    border-radius: 2em;
    display: block;
    width: 15vw;
    font-size: 1.2em;
  }
  #input-button:hover {
    background-color: #477515;
  }
}
