.contianer {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 1vw;
  width: 98vw;
  max-height: 72vh;
  overflow-y: auto;
}
.copyButton{
  background-color: rgb(25, 117, 188);
  color: white;
  font-size: 1.2em;
  border-radius: 2em;
  height: 10vh;
  width: 15vw;
  border: none;
  position: fixed;
  margin-left: 80vw;
  margin-top: 57vh;
  box-shadow: rgba(126, 126, 126, 0.5) 0px 4px 16px 0px;
}
.copyButton:hover{
  background-color: rgb(20, 89, 141);
}
.product {
  /*box-shadow: rgb(179 179 179 / 50%) 0px 4px 16px 0px;*/
  width: 30vw;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  background-color: rgb(235, 235, 235);
  align-items: center;
  justify-content: end;
  margin-top: 0.8em;
  overflow: hidden;
  .heading{
    width: 28vw;
    margin-left: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
  }
  button{
    border: none;
    align-self: flex-start;
    img{
      width: 2vw;
      border-radius: 0;
    }
  }
  h1 {
    color: black;
    width: 50%;
    font-size: 150%;
  }
  img{
    width: 10vw;
    height: auto;
    border-radius: 1em;
  }
}
.product:hover {
  box-shadow: rgba(179, 179, 179, 0.5) 0px 4px 16px 0px;
}
.content {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  p {
    padding: 0;
    width: 50%;
  }
  #price {
    color: rgb(242, 101, 34);
    font-weight: bolder;
    font-size: 2em;
    text-align: end;
  }
}
